#footer{
	width: 100%;
	height: 300px;
	background-color: black;
}

#footer-head{
	display: flex;
	justify-content: center;
}
#footer-head-contact{
	margin-top: 35px;
	width: 400px;
	height: 140px;
	font-family: "Arial", sans-serif;
}

.footer-head-cap{
	font-size: 15px;
	color: #FFFFFF;
}

#footer-head-contact > p{
	font-size: 13px;
	color: #788487;
}

#footer-head-contact > a > i{
	font-size: 25px;
	color: #CECECE;
	margin-right: 15px;
	margin-top: 20px;
}
}

#footer-head-contact > a{
	text-decoration: none;
	
}

#footer-head-link{
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	font-family: "Arial", sans-serif;
}

#footer-head-link > a{
	display: block;
	width: 120px;
	height: 18px;
	font-size: 13px;
	color: #788487;
	text-decoration: none;
}

#footer-head-link > hr{
	width: 100%;
	border-style: solid;
	color: rgba(112,112,112,.4);
}

#footer-head-img{
	margin-top: 35px;
}
